state copy.vscdb
state.vscdb
analysis_output_20250902_042552/*
analysis_output_20250902_042747/*
output_old/*
state_converted_20250902_043851/*
dictionary_analysis/*
dictionary_analysis_max/*
__pycache__/*